@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  font-family: "poppins", Arial, Helvetica, sans-serif;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  /* padding: 2% 15%; */
}

/* Navbar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15%;
}

.logo {
  font-size: 23px;
}

.links ul {
  display: flex;
  gap: 40px;
}

.links ul li {
  list-style: none;
}

.links ul li a {
  text-decoration: none;
  color: black;
  flex-shrink: 0;
  display: inline-block;
  transition: transform 0.1s ease;
}

.links ul li a:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
  transform: scale(1.1);
}

/* Hero-section* */

.hero-main-container {
  max-width: 1250px;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  padding: 20px 20%;
}

.hero-section img {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  object-fit: cover;
}

.hero-section .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-shrink: 0; */
}

.hero-section .intro {
  font-size: 15px;
  font-weight: 500;
  /* padding-top: 30px; */
}

.hero-section .name {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 8px;
}

.hero-section .profession {
  font-size: 25px;
  color: grey;
  margin-bottom: 20px;
}

.buttons .btn-cv,
.btn-contact {
  padding: 15px 30px;
  border-radius: 100px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 20px;
}

.buttons .btn-cv {
  background-color: transparent;
  margin-right: 20px;
  border: 1px solid grey;
  display: inline-block;
  transition: 0.3s;
}

.buttons .btn-cv:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
}

.buttons .btn-contact {
  background-color: black;
  color: white;
  border: 1px solid black;
  transition: 0.3s;
}

.buttons .btn-contact:hover {
  background-color: white;
  color: black;
  border: 1px solid grey;
  transform: scale(1.1);
}

.icon-links {
  display: flex;
  gap: 20px;
  cursor: pointer;
  font-size: 25px;
}

.icon-links div {
  transition: 0.3s;
}

.icon-links div:hover {
  transform: scale(1.2);
}

/* <!-- About Section: --> */

#about {
  /* max-width: 1300px; */
  margin: 0 auto;
  padding: 0 5%;
}

.about-intro {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.about-intro p {
  color: gray;
}

.about-intro h2 {
  font-size: 40px;
  font-weight: 500;
}

.about-details {
  display: flex;
  gap: 50px;
}

.experience-details {
  display: flex;
  justify-content: space-around;
  text-align: center;
  gap: 50px;
}

.about-details img {
  height: 400px;
  width: 400px;
  border-radius: 2rem;
  object-fit: cover;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.experience-deatails-one,
.experience-deatails-two {
  flex: 1;
  border: 1px solid black;
  border-radius: 2rem;
  padding: 20px 20px;
  transition: 0.3s;
  cursor: pointer;
}

.experience-deatails-two:hover,
.experience-deatails-one:hover {
  transform: scale(1.1);
}

.about-icon {
  font-size: 25px;
}

/* <!-- Experience section --> */

.experience-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.web-dev,
.writing {
  display: flex;
  gap: 20px;
  border: 1px solid black;
  border-radius: 25px;
  flex-direction: column;
  /* padding: 50px; */
  width: 500px;
  height: 250px;
  align-items: center;
  padding: 50px 0;
  transition: ease 0.3s;
  cursor: pointer;
}

.web-dev:hover,
.writing:hover {
  transform: scale(1.02);
}

.web-dev-skills,
.writing-skills {
  display: flex;
  gap: 30px;
}
.texts h2 {
  color: grey;
  text-align: center;
}

.texts p {
  margin-left: 29px;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left i,
.right i {
  margin-right: 10px;
}

/* Media-querry */

@media (max-width: 768px) {
  /* Navbar */
  .logo {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  nav {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .links ul {
    gap: 30px;
    margin-bottom: 30px;
  }

  .links a {
    font-size: 12px;
  }

  /* Hero-section */

  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .hero-section img {
    height: 150px;
    width: 150px;
    margin-bottom: 15px;
  }

  .details .name {
    font-size: 20px;
  }

  .details .profession {
    text-align: center;
    font-size: 18px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .buttons .btn-cv {
    margin: 0;
  }

  .buttons .btn-cv,
  .btn-contact {
    padding: 8px 18px;
    border-radius: 100px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 15px;
  }

  .icon-links {
    margin-top: 10px;
    font-size: 18px;
  }

  /* <!-- About Section: --> */

  #about {
    padding: 2% 5%;
  }

  #about img {
    height: 150px;
    width: 150px;
  }

  .about-intro h2 {
    font-size: 20px;
  }

  .about-details {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .experience-details {
    display: flex;
    gap: 10px;
  }

  .experience-details-text p {
    text-align: center;
    font-size: 15px;
  }

  .experience-deatails-one,
  .experience-deatails-two {
    border: 1px solid black;
    border-radius: 2rem;
    margin-bottom: 20px;
    /* padding: 5px 5px; */
  }

  .experience-deatails-one,
  .experience-deatails-two h3,
  p {
    font-size: 13px;
  }

  .about-icon {
    font-size: 18px;
  }

  /* Experience-section */
  .experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .texts p,
  h3 {
    font-size: 13px;
  }

  .web-dev,
  .writing {
    width: 380px;
    height: 200px;
    padding-bottom: 60px;
  }
}
